* {
    box-sizing: border-box;
  }
  body{
    background: linear-gradient(45deg, #790873, #d406fd) no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
  }
  
  .container{
    background-color: #EDF5E0;
    padding: 8px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,.75);
  }
  
  .btn {
    color: #fff;
    background: #9f7dee;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 15px;
  }
  
  .currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .currency select{
    padding: 10px 20px 10px 10px;
    appearance: none;
    border: 1px solid #dedede;
    font-size: 16px;
    background: transparent;
  }
  
  .currency input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: left;
  }
  
  .swap-rate-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .rate {
    color: #1f066c;
    font-size: 14px;
    padding: auto;
  }
  
  select:focus,
  input:focus,
  button:focus {
    outline: 0;
  }
  
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance: none;
  }